.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    position: relative;
    color: white;
    font-size: 1.25rem;
    font-family: monospace;
    z-index: 10000;
    margin: 0.5rem 3rem 0.5rem 3rem;
    padding: 1rem 1rem;
    background: rgb(50 47 45 / 50%);
    border-radius: 20px;
  }
  #translatedText {
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-align: center;
  }
  .filler {
    margin-top: 1rem;
  }